* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
